# Librerías base
streamlit==1.40.0
pandas==2.2.3
requests==2.32.3

# Mapas y datos geoespaciales
geopandas==1.0.1
shapely==2.0.6
folium==0.17.0
streamlit-folium==0.22.0
branca==0.7.2

# Gráficos
altair==5.4.1
vega-datasets==0.9.0

# Recomendado para compatibilidad
numpy==1.26.4
